node_modules
dist
results
.nyc_output
*.tsbuildinfo
.env
package-lock.json
.vscode
.sessions
*.log
.tsbuildinfo
coverage
.env.test
screenshots
service*account.json
.idea
*.pem
*.crt
*.ovpn
.eslintcache
.ultra.cache.json
